# Titanic EDA

## Цель
Анализ выживаемости пассажиров.

## Импорт нужных библиотек

In [76]:
import numpy as np
import pandas as pd
import matplotlib as plt

## Загрузка и обзор данных

### 1. Загрузка данных
Данные загружены из файла "train.csv" с Kaggle

In [77]:
df = pd.read_csv("../data/train.csv")

### 2. Размерность данных
12 признаков
891 точек данных

In [78]:
df.shape

(891, 12)

### 3. Структура данных
Таблица содержит информацию о пассажирах Титаника:
1. Номер пассажира ('PassengerId')
2. Выживаемость ('Survived') 0 = нет, 1 = да
3. Класс билета ('Pclass')   1 = первый, 2 = второй, 3 = третий
4. Имя ('Name')
5. Пол ('Sex')
6. Возраст ('Age')
7. Количество братья/сёстры + супруги на борту('SibSp')
8. Количество родители + дети на борту('Parch')
9. Номер билета ('Ticket')
10. Стоимость билета ('Fare')
11. Номер комнаты проживания ('Cabin')
12. Порт посадки ('Embarked') C = Cherbourg, Q = Queenstown, S = Southampton

In [79]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 4. Просмотр данных

In [80]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

## Обработка пропущенных значений

### Анализ пропущенных значений

In [81]:
(df.isna()/df.shape[0] * 100).sum() # процент пропущенных значений

PassengerId     0.000000
Survived        0.000000
Pclass          0.000000
Name            0.000000
Sex             0.000000
Age            19.865320
SibSp           0.000000
Parch           0.000000
Ticket          0.000000
Fare            0.000000
Cabin          77.104377
Embarked        0.224467
dtype: float64

Итог: 
1. 177 пропусков в Age
2. 687 пропусков в Cabin
3. 2 пропуска в Embarked

## Обработка пропусков

план:
1. пропуски в Age заполнить медианой
2. пропуски в Cabin - замена признаком CabinKnown(известна ли команата, 0 = нет, 1 = да)
3. пропуски в Embarked - замена модой

### Обработка пропусков в Age

Значение медиан

In [82]:
age_medians = df.groupby(['Pclass', 'Sex'])['Age'].median().unstack()
print(age_medians)

Sex     female  male
Pclass
1         35.0  40.0
2         28.0  30.0
3         21.5  25.0

Количество пассажиров в группах

In [83]:
passengers_amounts = df.groupby(['Pclass', 'Sex']).size().unstack()
print(passengers_amounts)

Sex     female  male
Pclass
1           94   122
2           76   108
3          144   347

Заполнение пропусков

In [84]:
df['Age'] = df.groupby(['Pclass', 'Sex'])['Age'].transform(lambda x : x.fillna(x.median()))
print(df['Age'].isna().sum()) # проверка количества пропусков после обработки

0