# Titanic EDA

## Цель
Анализ выживаемости пассажиров.

## Импорт нужных библиотек

In [2]:
import numpy as np
import pandas as pd
import matplotlib as plt

## Загрузка и обзор данных

### 1. Загрузка данных
Данные загружены из файла "train.csv" с Kaggle

In [3]:
df = pd.read_csv("../data/train.csv")

### 2. Размерность данных
12 признаков
891 точек данных

In [4]:
df.shape

(891, 12)

### 3. Структура данных
Таблица содержит информацию о пассажирах Титаника:
1. Номер пассажира ('PassengerId')
2. Выживаемость ('Survived') 0 = нет, 1 = да
3. Класс билета ('Pclass')   1 = первый, 2 = второй, 3 = третий
4. Имя ('Name')
5. Пол ('Sex')
6. Возраст ('Age')
7. Количество братья/сёстры + супруги на борту('SibSp')
8. Количество родители + дети на борту('Parch')
9. Номер билета ('Ticket')
10. Стоимость билета ('Fare')
11. Номер комнаты проживания ('Cabin')
12. Порт посадки ('Embarked') C = Cherbourg, Q = Queenstown, S = Southampton

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

### 4. Просмотр данных

In [7]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S